
blackColor = #000
whiteColor = #eee

lightColor = #f0dfff
darkColor = #0f0f0f

@font-face
   font-family BebasNeue
   font-style normal
   font-weight: normal
   src url(https://cdn.jsdelivr.net/npm/@typopro/web-bebas-neue@3.7.5/TypoPRO-BebasNeue-Book.ttf)

@font-face
   font-family BebasNeue
   font-style normal
   font-weight: bold
   src url(https://cdn.jsdelivr.net/npm/@typopro/web-bebas-neue@3.7.5/TypoPRO-BebasNeue-Bold.ttf)

