<div class="dialog--fullscreen">

    <div class="dialog--back">
        <button class="content__close">
            <svg class="icon icon--longarrow">
                <use xlink:href="#icon-longarrow"></use>
            </svg>
        </button>
    </div>
    <div class="dialog--title">Coexistence</div>
    <!-- <div class="dialog--img"><img id="project-img-dialog" src="" alt=""></div> -->
    <div class="dialog--subtitle">The only guide is your heart</div>
    <div class="dialog--paragraph">Let's go up in here, and start having some fun The least little bit can do so much. Work on one thing at a time. Don't get carried away - we have plenty of time. Put your feelings into it, your heart, it's your world. These trees are so much fun. I get started on them and I have a hard time stopping. But we're not there yet, so we don't need to worry about it. Now let's put some happy little clouds in here. What the devil. A thin paint will stick to a thick paint. I'm going to mix up a little color.</div>
</div>
