<div class="main-section section">
    <div class="top-bar">
        <div class="logo-1">REGOSH</div>
        <div class="logo-2">Logo2</div>
        <div class="logo-3">Logo3</div>
    </div>
    <div class="content-center">
        <div id="front-title" class="title">REGOSH</div>
        <div class="phrase">
            <p id="front-phrase">Residência de Tecnologias Livres para a ciência</p>
        </div>
    </div>
</div>

<div class="main-section-img">
    <img src="../assets/victor-aznabaev-pjTU9Edzc1g-unsplash_edited.jpg" alt="">
</div>