<div class="main-section-wrapper">
<!-- 
    max-width: 1200px;
    margin: 0 auto 0 auto;
     -->
    <div class="main-section section">
        <div class="top-bar">
            <div class="logo-1"><a target="_blank" href="#"><img src="../assets/logos/regosh_byn_inverted.png" alt=""></a></div>
            <!-- <div class="logo-2"><a target="_blank" href="https://web.facebook.com/tecnoxlatam/?_rdc=1&_rdr"><img src="../assets/logos/tecno_x.svg" alt=""></a></div> -->
            <div class="logo-3"><a target="_blank" href="http://www.cyted.org/"><img id="cyted-logo" src="../assets/logos/logo_cyted.png" alt=""></a></div>

            <select name="lang" id="select-lang"></select>
        </div>
        <div class="content-center">
            <div id="front-title" class="title">REGOSH</div>
            <div class="phrase">
                <p id="front-phrase">HACIA UNA RED DE TECNOLOGÍAS LIBRES PARA EDUCACIÓN, INVESTIGACIÓN Y CIENCIA COMUNITARIA EN (REGOSH)</p>
            </div>
        </div>
    </div>
</div>

<div class="main-section-img">
    <!-- <img src="../assets/victor-aznabaev-pjTU9Edzc1g-unsplash_edited.jpg" alt=""> -->
    <!-- <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:10px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@avkshift?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Victor Aznabaev"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Victor Aznabaev</span></a> -->
</div>