<div class="main-section-wrapper">
<!-- 
    max-width: 1200px;
    margin: 0 auto 0 auto;
     -->
    <div class="main-section section">
        <div class="top-bar">
            <div class="logo-1"><a target="_blank" href="#"><img src="../assets/logos/regosh_byn_inverted.png" alt=""></a></div>
            <!-- <div class="logo-2"><a target="_blank" href="https://web.facebook.com/tecnoxlatam/?_rdc=1&_rdr"><img src="../assets/logos/tecno_x.svg" alt=""></a></div> -->
            <div class="logo-3"><a target="_blank" href="http://www.cyted.org/"><img id="cyted-logo" src="../assets/logos/logo_cyted.png" alt=""></a></div>
        </div>
        <div class="content-center">
            <div id="front-title" class="title">REGOSH</div>
            <div class="phrase">
                <p id="front-phrase">Residência de Tecnologias Livres para a ciência</p>
            </div>
        </div>
    </div>
</div>

<div class="main-section-img">
    <img src="../assets/victor-aznabaev-pjTU9Edzc1g-unsplash_edited.jpg" alt="">
</div>