<div class="header">
    <ul class="cl-effect-1">
        <li><div><a data-scroll href="#projects-section">Projetos</a></div></li>
        <li><div><a data-scroll href="#about-section">Que é?</a></div></li>
        <li><div><a data-scroll href="#team-section">A equipe</a></div></li>
    </ul>


    <div class="lateral-menu--right cl-effect-1">
        <!-- <div class="menu--item">DONATE</div> -->
        <div class="menu--item"><a data-scroll href="#share-section">Compartilhar</a></div>
    </div>
</div>